@import "./_styles.scss";

.page-title {
    color: #ffffff;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    font-style: italic;
    padding-left: 16px;
    position: relative;
    border-bottom: 1px solid white;
    letter-spacing: 1px;
}

#mainMenu {
    .nav-menu {
        text-align: right;
    }
}

#createZoneForm {
    li {
        display: flex;

        .inputWrapper {
        }

        input {
            width: 100%;
            height: 90%;
            background: transparent;
            color: white;
        }
    }

    .createZoneForm__saveButton {
        display: flex;

        align-items: center;
        justify-content: flex-end;

        .btn-sm {
            padding: .25rem .5rem;
            font-size: .875rem;
            line-height: 1.5;
            border-radius: .2rem;
        }

    }
}
